.text1 {
  display: flex;
  justify-content: space-evenly;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin: 50px 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper .left,
.wrapper .right {
    width: 500px;
    height: 500px;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}